<!--
  Generated template for the AddAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="blured"> </div>
  <div class="custom-modal">
    <span (click)="dismiss()" class="cross-ico">
      <ion-icon name="close"></ion-icon>
    </span>
    <!-- new adress modal -->
    <div style="padding: 20px;display:none">
      <div class="tittle">
        <h3>Enter New Adress</h3>
      </div>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
        <ion-item class="input_item">
          <ion-input type="text" value="" placeholder="Enter First Name" formControlName="fname"></ion-input>
        </ion-item>
        <!-- <control-messages [control]="userForm.controls.fname"></control-messages> -->
        <ion-item class="input_item">
          <ion-input type="text" value="" placeholder="Street" formControlName="street"></ion-input>
        </ion-item>
        <!-- <control-messages [control]="userForm.controls.street"></control-messages> -->
        <ion-item class="input_item">
          <ion-input type="text" value="" placeholder="Nearest Building (optional)" formControlName="n_building"></ion-input>
        </ion-item>
        <ion-item class="input_item">
          <ion-input type="text" value="" placeholder="Karachi*" formControlName="city"></ion-input>
        </ion-item>
        <!-- <control-messages [control]="userForm.controls.city"></control-messages> -->
        <ion-item class="input_item">
          <ion-input type="tel" value="" placeholder="Enter Phone*" formControlName="phone"></ion-input>
        </ion-item>
        <!-- <control-messages [control]="userForm.controls.phone"></control-messages> -->
      </form>
    </div>
    <!-- end new adress modal  -->
    <!-- new feedback modal -->
    <div style="padding: 20px" class="feedback-modlal">
      <div class="tittle">
        <h3>Feedback!</h3>
        <h4>How was your journey with Us ?</h4>
      </div>
      <ul id="feedback-r">
        <li *ngFor="let n of feedback; let i = index" class="feed" (click)="select(n)" [ngClass]="{active: isActive(n)}">{{i+1}}</li>
      </ul>
      <ion-label>REMARKS:</ion-label>
      <ion-input type="password"></ion-input>
    </div>
    <!-- end new feedback modal  -->
    <!-- cart Modal-->
    <div style="padding: 20px;display:none">
      <h2 class="info-tittle">You have added
        <br> 1 item to your cart</h2>
      <button ion-button class="input_item-btn" block type="submit">Add More Items ></button>
      <button ion-button class="input_item-btn" block type="submit">CHECKOUT ></button>
    </div>
    <!-- cart Modal  -->

    <!-- Order Type Modal-->
    <div style="padding: 20px; display:none">
      <h2 class="info-tittle">Please select your
        <br> Order Type</h2>
      <button ion-button class="input_item-btn" block type="submit">Pickup ></button>
      <button ion-button class="input_item-btn" block type="submit">Delivery ></button>
    </div>
    <!-- Order Type Modal  -->

    <!-- Order Type Modal-->
    <div style="padding: 20px;display:none">
      <h2 class="info-tittle">Store INFO</h2>
      <ion-checkbox float-right></ion-checkbox>
      <ion-label>23 A ALI BLOCK NEW GARDEN TOWN LAHORE PUNJAB PAKISTAN , 54000</ion-label>
      <div class="curent-schedual">
        <h3>0.5 ml</h3>
        <p>Hours Today : 6:00 AM - 8:00 PM</p>
      </div>
      <div class="weekly-schedual">
        <h3>Store Hours</h3>
        <ion-list>Monday
          <span>6:00 AM - 8:00 PM</span>
        </ion-list>
        <ion-list>Monday
          <span>6:00 AM - 8:00 PM</span>
        </ion-list>
        <ion-list>Monday
          <span>6:00 AM - 8:00 PM</span>
        </ion-list>
        <ion-list>Monday
          <span>6:00 AM - 8:00 PM</span>
        </ion-list>
        <ion-list>Monday
          <span>6:00 AM - 8:00 PM</span>
        </ion-list>
        <ion-list>Monday
          <span>6:00 AM - 8:00 PM</span>
        </ion-list>
        <ion-list>Monday
          <span>6:00 AM - 8:00 PM</span>
        </ion-list>
      </div>
    </div>
    <!-- Order Type Modal  -->

    <!-- Check out Modal-->
    <div style="padding: 20px; display: none" class="dd-checkout">
      <h2 class="tittle">DO NUT COMBO</h2>
      <h3 class="desc">Hot Cofee - Regular + Donut</h3>
      <h4 class="price">PKR 260/-</h4>
      <ion-list class="accordion-list">
        <!-- First Level -->
        <div class="parent" *ngFor="let item of information; let i = index; let lst = last" no-lines no-padding>
          <!-- Toggle Button -->
          <button class="outer-button" (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
            {{ item.name }}
            <ion-icon item-right float-right name="arrow-forward" *ngIf="!item.open"></ion-icon>
            <ion-icon item-right float-right name="arrow-down" *ngIf="item.open"></ion-icon>
            <div class="select-count">Select 1</div>
          </button>
          <ion-list *ngIf="item.children" no-lines radio-group style="padding-bottom: 8px" class="parent-option-list">
            <ion-list *ngFor="let child of item.children; let j = index" no-padding class="option-list">
              <ion-item class="radio-items">
                <ion-label style="color: grey">{{ child.name }}</ion-label>
                <ion-radio value={{child.id}}></ion-radio>
              </ion-item>
            </ion-list>
          </ion-list>
          <!-- comment/instructions section -->
          <div *ngIf="lst" class="parent">
            <button class="outer-button" (click)="func()" detail-none [ngClass]="{'section-active': sec, 'section': !sec}">
              comments
              <ion-icon item-right float-right name="arrow-forward" *ngIf="!sec"></ion-icon>
              <ion-icon item-right float-right name="arrow-down" *ngIf="sec"></ion-icon>
              <div class="select-count">Select 1</div>
            </button>
            <ion-list no-lines radio-group style="padding-bottom: 8px" class="parent-option-list comment-box">
              <ion-list no-padding class="option-list">
                <ion-textarea class="txtarea" placeholder="Enter your comment here" autocomplete="on" autocorrect="on" [(ngModel)]="note">this is text area</ion-textarea>
              </ion-list>
            </ion-list>
          </div>
        </div>
        <div class="counter">
          <p>ADD QUANTITY</p>
          <div class="quantity">
            <ion-icon name="add" class="add-remove" (click)="decrement()"></ion-icon>
            <div class="qty">{{currentNumber}}</div>
            <ion-icon name="remove" class="add-remove" (click)="increment()"></ion-icon>
          </div>
        </div>
      </ion-list>
    </div>
    <!-- End Check out Modal  -->

  </div>
</ion-content>
<ion-footer class="custom-modalfooter">
  <button ion-button class="input_item-btn" block type="submit" round [disabled]="!userForm.valid">Save</button>
</ion-footer>