<!--
  Generated template for the BundlesAssortedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
--> 
<ion-header>

  <ion-navbar hideBackButton>
      <ion-buttons left>
          <button icon-only ion-button class="backArea" (click)="pop()">
            <img src="assets/Dunkin_Donuts_images/general/back.png">
          </button>
        </ion-buttons>
    <ion-title>Combos</ion-title>
    <button ion-button class="cart-root" (click)="setocart()">
      <ion-icon name="cart"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="assort-card" *ngFor="let combo of assorted_deals" (click)="gotoComboDetails(combo)">
    <div class="assort">
      <img src="{{imgPathServer}}{{combo.BundleImageUsr}}" />
      <div class="absolute-card-title" float-left>{{combo.BundleName}}</div>
      <ion-card-content class="content">
        <ion-card-title class="title">
          {{combo.BundleName}}
        </ion-card-title>
        <p class="sub_name">
          {{combo.Detail}}
        </p>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>