<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="bg-page" overflow-scroll="true">
  <!-- <div class="back_arrow"> <img (click)="pop()" class="arrowback" src="assets/images/back-arrow.png"></div> -->
  <div class="main">
    <div class="logo">
    </div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" class="loginForm">

      <ion-item class="input_item">
        <ion-input type="email" value="" placeholder="Email/Phone Number" formControlName="email" id="email" class="text-input"></ion-input>
      </ion-item>
      <ion-item class="input_item">
        <ion-input type="password" value="" placeholder="Password" formControlName="password" class="text-input"></ion-input>
      </ion-item>
      <div class="buttons">
        <div>
          <button ion-button class="input_item-btn login-btn" block type="submit">LOG IN
            <img src="assets/Dunkin_Donuts_images/general/orange-arrow.png" />
          </button>
        </div>
        <div class="footer">
          <span (click)=gotoForgotPassPage()>Forgot Password?</span>
        </div>
        <br>
      </div>
    </form>
    <div class="custom_footer loginFooter">
      <div>
        <button ion-button class="input_item-btn login-btn" block type="submit" (click)="gotoSignUpPage()">REGISTER
          <img src="assets/Dunkin_Donuts_images/general/orange-arrow.png" />
        </button>
      </div>
      <div>
        <button ion-button class="input_item-btn login-btn outline" block type="submit" (click)="gotoHomePage()">MAYBE LATER
          <img src="assets/Dunkin_Donuts_images/general/arrow.png" />
        </button>
      </div>
    </div>
  </div>
</ion-content>