<!--
  Generated template for the AccountCreatedThankuModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="accountCreated-bg-page">
  <div class="main">
    <div class="logo">
    </div>
    <div class="congrats">
      <h5>CONGRATULATIONS!</h5>
    </div>
    <div class="subTitle">
      <h3>Your account has been created successfully</h3>
    </div>
    <button ion-button class="Continue" (click)="gotoLogin()">CONTINUE
      <img src="assets/Dunkin_Donuts_images/general/orange-arrow.png" />
    </button>
  </div>
</ion-content>