<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="forgot-bg-page">
  <div class="back_arrow" style="width: 25px;height: 25px;" (click)="pop()">
    <img class="arrowback" src="assets/Dunkin_Donuts_images/Forgot-password/back.png">
  </div>
  <div class="main">
    <div class="logo">
    </div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" class="fogotForm">
      <div class="Form_lable">
        <ion-label text-wrap>Enter your email/phone to recover Password</ion-label>
      </div>
      <ion-item class="input_item">
        <ion-input type="email" value="" placeholder="Email/Phone Number" formControlName="email" id="email" class="text-input" [(ngModel)]="userData.email"
          [class.error1]="!userForm.controls.email.valid && userForm.controls.email.dirty"></ion-input>
      </ion-item>
      <div class="padding_top">
        <button ion-button class="input_item-btn forgot-btn" block type="submit" style="background: white" (click)="submit()">SUBMIT
          <img src="assets/Dunkin_Donuts_images/general/orange-arrow.png" />
        </button>
      </div>
    </form>
  </div>
</ion-content>