page-forgot-password {
  .footer {
    background: transparent;
    text-align: center;
    font-weight: normal;
    text-shadow: none;
    color: color($colors, white_color, base);
    text-transform: initial;
    padding-bottom: 2em;
    padding-top: 4em;
    bottom: 0;
  }

  .validate-gutters {
    background: transparent;
    font-size: 10pt;
    text-transform: capitalize;
    padding: 0px;

    ion-label {
      margin: 0px;
    }
  }

  .custom_footer {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .forgotForm {
    padding-top: 60px;
  }

  .Form_lable {
    text-align: -webkit-center;
    color: color($colors, white_color, base);
    padding: 16px;
    font-family: 'Gotham Book';
    font-size: 12px;
  }

  .forgot-bg-page {
    background-image: url(../assets/Dunkin_Donuts_images/Forgot-password/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  // *************placeholder*********************
  .text-input::-moz-placeholder {
    color: white;
  }

  .text-input:-ms-input-placeholder {
    color: white;
  }

  .text-input::-webkit-input-placeholder {
    color: white;
  }

  .padding_top {
    padding-top: 10.3em;
  }
  // ********************************************
  .forgot-btn {
    background: white;
    color: color($colors, orange-heart, base);
    width: 100%;
    margin-top: 25px;
    padding: 0%;
    font-family: 'Gotham-medium';
  }

  control-messages div {
    color: white;
  }
}
