page-forgot-password-link-message {
  .bg {
    background-image: url(../assets/Dunkin_Donuts_images/Forgot-password-popup/forgot-password-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  .custom-modal .tittle h3 {
    text-align: center;
    color: color($colors, dd-button-clr, base);
    font-size: 16px;
  }

  .custom-modal .tittle {
    border-bottom: 0;
  }

  .custom-modal .tittle h4 {
    padding: 24px 24px 24px 24px;
    margin: 0;
    font-size: 14px;
    color: grey;
    text-align: center;
  }

  .custom-modal {
    top: 35%;
  }
}
