<!--
  Generated template for the AccountVerificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="bg-page">
  <div class="back_arrow">
    <img (click)="pop()" class="arrowback" src="assets/Dunkin_Donuts_images/Forgot-password/back.png">
  </div>
  <div class="main">
    <div class="logo">
    </div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
      <div class="Form_lable">
        <ion-label text-wrap>Enter your email, secret key and new password</ion-label>
      </div>
      <ion-item class="input_item">
        <ion-input type="email" value="" placeholder="Email/Phone Number" formControlName="email" id="email"></ion-input>
      </ion-item>
      <!-- <control-messages [control]="userForm.controls.email"></control-messages> -->
      <ion-item class="input_item">
        <ion-input type="password" value="" placeholder="Secret key" formControlName="s_key"></ion-input>
      </ion-item>
      <!-- <control-messages [control]="userForm.controls.s_key"></control-messages> -->
      <ion-item class="input_item">
        <ion-input type="password" value="" placeholder="New Password" formControlName="password"></ion-input>
      </ion-item>
      <!-- <control-messages [control]="userForm.controls.password"></control-messages> -->
      <ion-item class="input_item">
        <ion-input type="password" value="" placeholder="Confirm Password" formControlName="confirm_password"></ion-input>
      </ion-item>
      <!-- <control-messages [control]="userForm.controls.password"></control-messages> -->
    </form>
    <div>
      <button ion-button class="input_item-btn key-btn" block type="submit" style="background: white" (click)="verify()">SAVE
        <img src="assets/Dunkin_Donuts_images/general/orange-arrow.png" />
      </button>
    </div>
  </div>
</ion-content>