<!--
  Generated template for the ReOrderConfirmModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="bg">
  <div class="custom-modal">
    <div class="tittle">
      <h3>Re-order Confirmation</h3>
    </div>
    <!-- timimg Modal-->
    <div class="tittle">
      <h4>Do you want to place the same order again?</h4>
    </div>
    <!-- timing Modal  -->
  </div>
  <ion-footer class="footer">
    <div class="margin">
      <button ion-button class="input_item-btn" block type="submit" round (click)="callback('confirm')">CONFIRM
        <img src="assets/Dunkin_Donuts_images/general/arrow.png" />
      </button>
    </div>
    <div class="margin">
      <button ion-button class="input_item-btn login-btn outline-btn" block type="submit" (click)="callback('cancel')">
        CANCEL
        <img src="assets/Dunkin_Donuts_images/general/arrow.png" />
      </button>
    </div>
  </ion-footer>
</ion-content>