page-payment-info {

        ion-content {
          background: #eee5e0 !important;
        }
        .cvc-error{
          position: absolute;
          bottom: -25px;
          width: 100%;

        }
      
        .error {
          font-size: 10pt;
          color: #e11382;
        }
      
        .c-pass-error {
          background: #ffffff;
          padding-left: 20px;
          padding-bottom: 10px;
        }
      
        ion-header,
        ion-navbar {
          height: 80px;//by default 56px
        }
      
        .scroll-content {
          margin-bottom: 0px;
        }
      
        .input-signup {
          margin-top: 0;
          padding-top: 0;
          background: white;
          padding: 5px 0px 5px 1em;
          font-size: 14px;
        }
      
        .custom_signup_footer {
          padding: 12px 25px 20px 25px;
          position: absolute;
          bottom: 0; 
          width: 100%;
        }
      
        .profile-info-form {
          // padding-top: 18%;
          margin-top: 1em;
        }
      
        .gender {
          text-align: left;
          padding-left: 4px;
        }
      
        .datetime-md,
        .datetime-ios {
          padding: 11px 8px 11px 8px;
        }
      
        .select-md .select-icon,
        .select-ios .select-icon {
          width: 12px;
          height: 12px;
          left: 5px;
          top: 5px;
          background-image: url(../assets/Dunkin_Donuts_images/Bundles-add-to-cart-popup/down.png);
          background-repeat: no-repeat;
        }
      
        .select-md .select-icon .select-icon-inner,
        .select-ios .select-icon .select-icon-inner {
          display: none;
          // background: pink;
        }
      
        .dobIcon {
          position: relative;
          width: 25px;
          height: 25px;
          top: -38px;
          left: 90%;
          background-image: url(../assets/Dunkin_Donuts_images/Create-an-account/dob.png);
          background-repeat: no-repeat;
        }
      
        .dobIconEdit {
          position: absolute;
          top: 18px;
          right: 0;
          width: 25px;
          height: 25px;
          left: 90%;
          background-image: url(../assets/Dunkin_Donuts_images/general/edit.png);
          background-repeat: no-repeat;
          background-size: 12px;
        }
      
        .footer-md::before,
        .footer-ios::before {
          display: none;
        }
      
        .myWrapper {
          position: relative;
        }
      
}
