page-home {
  // ion-header {
  //     height: 80px;//by default 56px
  //     background-image: url(../assets/Dunkin_Donuts_images/Add-address/header-background.png);
  //     background-repeat: no-repeat;
  // }


  .scroll-content {
    overflow: hidden;
    margin-top: 56px;
  }
  // ----------slides--------------
  .slides_banner {
    position: relative;
    width: 100%;
    // height: 200px;
    background: #8e2525;
    z-index: 1;
  }

  .slides_banner-ios {
    height: 210px;
  }
  .slide-zoom{
    height: 100% !important;
    // div{
    //   height: 100% !important;
    //   img{
    //     height: 100% !important;
    //   }
    // }
  }
  .slide-zoom img{
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
  button.swiper-pagination-bullet {
    border-radius: 14px !important;
  }
  //------------Maps css---------
  #map {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search {
    position: absolute;
    top: 0;
  }

  .button-ios {
    height: 3.6rem;
  }
  // Location search input
  .searchbar-ios {
    top: 8px;
    background: transparent;
    border: none;

    .searchbar-input {
      padding: 6px 55px;
      border-radius: 2px;
      background-position: left 8px center;
      height: auto;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 3rem;
      color: #141414;
      background-color: #fff;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
  }

  .searchbar-input {
    background-image: url(../assets/Dunkin_Donuts_images/Home/search.png);
    background-repeat: no-repeat;
    background-position: right 15px bottom 10px !important;
    background-size: 20px 20px;
  }

  .searchbar-input:focus {
    background-image: none;
  }

  .searchbar-md .searchbar-search-icon,
  .searchbar-md .searchbar-md-cancel,
  .searchbar-ios .searchbar-search-icon,
  .searchbar-ios .searchbar-ios-cancel {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url(../assets/Dunkin_Donuts_images/Home/gps.png);
    width: 20px;
    height: 20px;
  }

  .my_gps {
    position: absolute;
    border: none;
    background: transparent;
    width: 25px;
    height: 25px;
    left: 20px;
    top: 16px;
    opacity: 0;
  }

  .current_location {
    width: 20px;
    height: 20px;
    position: absolute;
  }

  .searchbar-ios.searchbar-left-aligned .searchbar-input {
    padding: 6px 55px;
  }
  // -------------
  .slides {
    position: absolute;
    bottom: 0;
  }

  .suggestions {
    position: absolute;
    top: 54px;
    width: 96%;
    left: 0;
    border-radius: 2px;
    right: 0;
    margin: auto;
    overflow-y: scroll;
    height: 180px;
    z-index: 9999;
  }

  .home-bg {
    background-image: url(../assets/images/theme/bg_home.png);
    min-height: calc(100vh - 80px);
    background-color: transparent;
    background-size: 100% 100%;
  }

  .scroll {
    height: 100%;
  }

  ion-searchbar .searchbar-input-container {
    background: white;
  }

  .searchbar-input-container {
    background: white;
  }

  .home-buttons {
    width: 100%;
    height: 50%;
    background: color($colors, home-card-bg, base);

    .col {
      // padding-top: 8px;
      position: absolute;
    }

    .place-order {
      height: 80px !important;
      position: relative;

      .col {
        padding: 0 !important;
        bottom: 0;
        height: 100%;
        display: grid;
        align-items: center;

        .buttons {
          margin: 0px auto;
          // margin-top: 15px;
        }
      }
    }

    .place-order {
      height: 80px !important;
      position: relative;

      .col {
        padding: 0 !important;
        bottom: 0;
        height: 100%;
        display: grid;
        align-items: center;

        .buttons {
          margin: 0px auto;
          // margin-top: 15px;
        }
      }
    }
  }

  .slides .swiper-slide img {
    width: 100% !important;
  }

  .slides .swiper-slide img {
    width: 100% !important;
  }

  .card-title {
    position: absolute;
    top: 43%;
    font-weight: normal;
    font-size: 1.3em;
    width: 84%;
    color: color($colors, white_color, base);
    text-align: -webkit-center;
  }

  .swiper-pagination-bullet-active {
    background: #ffffff !important;
    opacity: 1;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: transparent;
    opacity: 1;
    border: 1px solid #ffff !important;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
    border: 1px solid white;
    margin-bottom: 12px;
  }

  .card-buttons-row {
    height: 74% !important;
  }

  .row {
    height: 26%;
  }

  .card-buttons-row > .col {
    padding: 10px;
    padding: 16px 20px 0px 20px;
  }

  .Card-btn {
    height: 96%;
  }

  ion-card img {
    height: 100%;
  }

  .buttons {
    background: color($colors, dd-button-clr, base);
    width: 93% !important;
    margin: 12px;
    padding: 0;
    position: relative;
  }
}
