<!--
  Generated template for the CategoryDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar #navbar hideBackButton>
    <ion-title>{{catagory.Name}}</ion-title>
    <ion-buttons left>
      <button icon-only class="backArea" ion-button (click)="pop()">
        <img src="assets/Dunkin_Donuts_images/general/back.png">
      </button>
    </ion-buttons>
    <button ion-button class="cart-root" (click)="setocart()">
      <ion-icon name="cart"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-card *ngFor="let prod of catagory.Products" class="cat-details-card">
    <!-- <img src="{{imgPathServer}}{{prod.Image}}" (click)="gotoProdDetails(prod)" /> -->
    <img-loader src={{encodeURL(imgPathServer,prod.Image)}} (click)="gotoProdDetails(prod)" useImg></img-loader>
    <div class="card-txt-parent">
      <div class="card-title" float-left>{{prod.FullName}}</div>
      <div class="action-buttons">
        <!-- <img src="assets/Dunkin_Donuts_images/Sub-categories/cart.png" margin-right (click)="gotoProdDetails(prod)" /> -->
        <button class="fav_heart" (click)="toggleLiked(prod)">
          <ion-icon class="heart" [name]="prod.is_fav === true ? 'heart' : 'heart-outline'"></ion-icon>
        </button>
      </div>
    </div>
  </ion-card>
</ion-content>