<!--
  Generated template for the StoreTimingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="bg">
  <div class="custom-modal">
    <div class="tittle">
      <h3>Store Timings</h3>
    </div>
    <!-- timimg Modal-->
    <div class="tittle">
      <h4>Sorry, we are closed at the moment.Try again between {{Timings.openTime}} to {{Timings.closeTime}}</h4>
    </div>
    <!-- timing Modal  -->
  </div>
  <ion-footer class="footer">
    <div class="margin">
      <button ion-button class="input_item-btn" block type="submit" round (click)="pop()">OK
        <img src="assets/Dunkin_Donuts_images/general/arrow.png" />
      </button>
    </div>
  </ion-footer>
</ion-content>