page-design-pizza {
    .pizza-section{
        position: fixed;
        z-index: 1101;
        height: 46.5%;
        border-bottom: 0.2em solid #e51d2a;
        box-shadow: inset 0em -0.6em 0.5em -0.5em #000000;
        margin: 0 auto;
        text-align: center;
        background-color: #2f2f2f;
        height: 75vw;
        text-shadow: none;
        width: 100%;
        text-transform: initial;
    }
    .img-layer{
        position: relative;
        height: 74%;
        box-sizing: border-box;
        padding: 0;
    }
    .pizza-section .img-layer > img {
        max-width: 56%;
        position: absolute;
        left: 50%;
        margin-left: -28%;
        max-width: initial;
        vertical-align: initial;
        margin-right: initial;
        padding: 0;
        max-height: 100%;
    }
    .pizza-section img {
        max-width: 55%;
        vertical-align: middle;
        margin-right: 13%;
        padding-top: 8%;
        margin-left: 13%;
    }
    .layer-of-ingreds {
        position: absolute;
        padding-bottom: 56%;
        width: 56%;
        left: 50%;
        margin-left: -28%;
        margin-top: 0;
        box-sizing: border-box;
        top: 0;
        height: 0;
    }
    .pizzaPriceSection {
        position: relative;
        bottom: 0;
        height: 16%;
    }
    .pizza-section .ui-block-a {
        width: 36%;
        color: #FFFFFF;
        margin-top: 0.7em;
        font-size: 16px;
        position: absolute;
        bottom: 0;
    }
    .pizza-section .ui-block-b {
        width: 28%;
        text-align: center;
        margin: auto;
        position: absolute;
        height: 100%;
        left: 50%;
        margin-left: -14%;
        top: 0;
    }
    .pizza-section .ui-block-b img {
        height: 100%;
        text-align: center;
        width: auto;
        max-width: initial;
        padding: 0;
        margin: 0;
        vertical-align: initial;
    }
    .pizza-section .ui-block-c {
        width: 32%;
        color: #e51d2a;
        text-align: right;
        margin-top: 0.7em;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 16px;
        padding-right: 10%;
    }
    .pizza-type-section{
        width: 100%;
        height: 10%;
    }
    .ingredients-section{
        position: absolute;
        z-index: 1100;
        top: 58%;
        text-transform: initial;
        display: table;
    }
    .ingredients-section{
        position: absolute;
        z-index: 1100;
        top: 58%;

    }

}
