<!--
  Generated template for the DesignPizzaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Design your own pizza</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="pizza-section">
    <!-- pizza creation section -->
    <div class="pizza-type-section"> 
    </div>
    <div class="img-layer">
      <img src="assets/images/design your own pizza/image-3.png" style="opacity: 0">
      <div class="layer-of-ingreds single-pizza"></div>
    </div>
    <div class="ui-grid-b pizzaPriceSection">
      <div class="ui-block-a ingreds-price">Total: $ 0.00</div>
      <div class="ui-block-b draw-close">
        <img src="assets/images/design your own pizza/button.png">
      </div>
      <div class="ui-block-b draw-close">
        <img src="assets/images/design your own pizza/button.png">
      </div>
      <div class="ui-block-c reset-ingreds">Reset</div>
    </div>
  </div>
  <!-- ingredients section -->
  <div class="ingredients-section">
    
  </div>

</ion-content>