<!--
  Generated template for the ContactUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="contact-us">
  <div class="detail" *ngIf="showDefaultInfo">
    <h3>Give Us a Shout!</h3>
    <p>
      <span class="bold">Call:</span>0092-51-111-386-546</p>
    <p>
      <span class="bold">For Feedback Through SMS:</span>0092-321-3366887</p>
    <p>
      <span class="bold">Email:</span>info@dunkindonuts.com.pk</p>
  </div>
  <div class="detail" *ngIf="!showDefaultInfo">
    <h3>Give Us a Shout!</h3>
    <p>
      <span class="bold">Call:</span>{{Storecontact}}</p>
    <p>
      <span class="bold">For Feedback Through SMS:</span>{{StoreCell}}</p>
    <p>
      <span class="bold">Email:</span>{{StoreEmail}}</p>
  </div>
  <div class="tittle bold">
    <h3>Use The Form Below To Drop Us An Email:</h3>
  </div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
    <ion-item class="input_item">
      <ion-input type="text" value="" placeholder="john@gmail.com*" formControlName="email" [(ngModel)]="userData.email"
        [class.error1]="!userForm.controls.email.valid && userForm.controls.email.dirty"></ion-input>
    </ion-item>
    <!-- ERROR -->
    <ion-item no-lines class="error" *ngIf="( userForm.get('email').hasError('pattern') || userForm.get('email').hasError('required') ) && userForm.get('email').touched">
      <div class="error" *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">
        Please enter your email First
      </div>
      <div class="error" *ngIf="userForm.get('email').hasError('pattern')  && userForm.get('email').touched">
        Invalid pateren
      </div>
    </ion-item>
    <!-- // ERROR -->
    <ion-item class="input_item">
      <ion-input type="text" value="" placeholder="+92 300 4511777*" formControlName="cell" [(ngModel)]="userData.cell"
        [class.error1]="!userForm.controls.cell.valid && userForm.controls.cell.dirty"></ion-input>
    </ion-item>
    <!-- ERROR -->
    <ion-item no-lines class="error" *ngIf="( userForm.get('cell').hasError('pattern') || userForm.get('cell').hasError('required') ) && userForm.get('cell').touched">
      <div *ngIf="userForm.get('cell').hasError('required') && userForm.get('cell').touched">
        Please enter your Contact Number
      </div>
      <div class="error" *ngIf="userForm.get('cell').hasError('pattern')  && userForm.get('cell').touched">
        Invalid pateren
      </div>
    </ion-item>
    <!-- // ERROR -->
    <ion-item style="margin-top: 2px">
      <ion-textarea type="text" value="" class="txtarea" placeholder="Hi......" formControlName="feedback"></ion-textarea>
    </ion-item>
    <!-- // ERROR -->
  </form>
  <div class="custom-modalfooter">
    <div class="margin">
      <button ion-button class="input_item-btn" [disabled]="!userForm.valid" block type="submit" round (click)="contactfeedback()">SUBMIT
        <img src="assets/Dunkin_Donuts_images/general/arrow.png" />
      </button>
    </div>
    <div class="margin">
      <button ion-button class="input_item-btn login-btn outline-btn" block type="submit" (click)="LiveChat()">
        LIVE CHAT WITH US!
        <img src="assets/Dunkin_Donuts_images/general/pink-arrow.png" />
      </button>
    </div>
    <div class="privacy">
    <a href="#" onclick="window.open('https://www.dunkindonuts.pk/account/MobileView', '_system', 'location=yes'); return false;">
      PRIVACY POLICY
  </a>
    </div>
  </div>
</ion-content>