<!--
  Generated template for the OrderThankyouPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="bg-page">
  <!-- <div class="back_arrow"> <img (click)="pop()" class="arrowback" src="assets/images/back-arrow.png"></div>
    <div class="logo"><img src="assets/theme/logo-dunkin.png"></div>
    <div class="thanku_parent">
        <div class="thanku">Thank You !</div>
        <div class="thanku_text">
          Your order #43756 has been<br>
          Placed Successfully
        </div>
      </div>
      <div class="custom_footer">
        <button ion-button class="input_item-btn buttons" block type="submit" (click) = "orderHistory()">CONTINUE ></button>
      </div>     -->
  <div class="main">
    <div class="logo">
    </div>
    <div class="congrats">
      <h5>Hurray!</h5>
    </div>
    <div class="subTitle">
      <h3>Your Order# {{order_id}} has been placed successfully</h3>
    </div>
    <button ion-button class="Continue" (click)="rateUs()">CONTINUE
      <img src="assets/Dunkin_Donuts_images/general/orange-arrow.png" />
    </button>
  </div>
</ion-content>