<!--
  Generated template for the ProductDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar #navbar hideBackButton>
    <ion-title>{{selected_prod.FullName}}</ion-title>
    <ion-buttons left class="backArea">
      <button icon-only ion-button (click)="pop()">
        <img src="assets/Dunkin_Donuts_images/general/back.png">
      </button>
    </ion-buttons>
    <button ion-button class="cart-root" (click)="setocart()">
        <ion-icon name="cart"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="detail-card">
    <ion-row class="row">
      <div class="detail-card-img">
        <!-- <img src="{{imgPathServer}}{{selected_prod.Image}}" class="prod_img" /> -->
        <img-loader src={{encodeURL(imgPathServer,selected_prod.Image)}} class="prod_img" useImg></img-loader>
      </div>
    </ion-row>
    <div class="custom-card-content" padding>
      <ion-row style="margin-top: 0px">
        <div class="prod_title">{{selected_prod.FullName}}</div>
        <div class="prod_descp">{{selected_prod.Description}}</div>
      </ion-row>
      <ion-row class="pricing_row">
        <div class="pricing_card" padding-top>
          <div class="price-lbl">Price:</div>
          <div class="pricing" float-right>PKR {{selected_prod.Price}}</div>
        </div>
      </ion-row>
      <ion-row *ngIf="selected_prod.ProductOption.length > 0" id="cust-prod-btn">
        <ion-list no-lines class="prod-flavor accordion-list" no-lines>
          <div class="parent" *ngFor="let item of selected_prod.ProductOption; let i = index" no-lines>
            <!-- Toggle Button -->
            <button class="outer-button" (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
              <span>{{item.FullName}}
              </span>
              <div class="arrow_up" item-right float-right *ngIf="!item.open">
                <img src="assets/Dunkin_Donuts_images/Bundle-assortments-detail/down.svg">
              </div>
              <div class="arrow_down" item-right float-right *ngIf="item.open">
                <img src="assets/Dunkin_Donuts_images/Bundle-assortments-detail/up.svg">
              </div>
            </button>
            <ion-list *ngIf="item.ProductOptionValue !== null" radio-group no-lines style="padding-bottom: 8px;margin-bottom: 0;" class="parent-option-list"
              [ngClass]="{'divider' : item.open}">
              <hr class="top-border">
              <ion-item class="options" *ngFor="let child of item.ProductOptionValue; let j = index" style="padding: 0px !important" no-padding
                class="option-list inner_list_content">
                <ion-label class="cust-option-lable" style="color: #9d9d9d">{{child.FullName}}</ion-label>
                <ion-radio style="margin: 0;" value={{child.ID}} (click)="radioClicked(item,child)"></ion-radio>
              </ion-item>
            </ion-list>
          </div>
        </ion-list>
      </ion-row>
      <!-- <ion-row> -->
      <div class="counter">
        <p>Add Quantity</p>
        <div class="quantity">
          <button clear class="add-remove" (click)="decrement()">
            <ion-icon name="remove"></ion-icon>
          </button>
          <div class="qty">{{currentNumber}}</div>
          <button clear class="add-remove" (click)="increment()">
            <ion-icon name="add"></ion-icon>
          </button>
        </div>
      </div>
      <!-- </ion-row> -->
    </div>
  </div>
  <button ion-button class="input_item-btn buttons ATC" block type="submit" (click)="gotoCart()">ADD TO CART
    <img src="assets/Dunkin_Donuts_images/general/arrow.png" />
  </button>
</ion-content>