<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>Create an Account</ion-title>
    <ion-buttons left>
      <button icon-only ion-button class="backArea" (click)="pop()">
        <img src="assets/Dunkin_Donuts_images/general/back.png">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="signup-background">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" class="profile-info-form" novalidate>
    <ion-item class="input-item-dd input-signup" no-lines>
      <ion-input type="text" value="" placeholder="First Name*" formControlName="fname" [(ngModel)]="userData.fname" [class.error1]="!userForm.controls.fname.valid && userForm.controls.fname.dirty"></ion-input>
    </ion-item>
    <!-- ERROR -->
    <ion-item no-lines *ngIf="( userForm.get('fname').hasError('pattern') || userForm.get('fname').hasError('required') ) && userForm.get('fname').touched">
      <div class="error" *ngIf="userForm.get('fname').hasError('required') && userForm.get('fname').touched">
        Please enter your first name
      </div>
      <div class="error" *ngIf="userForm.get('fname').hasError('pattern')  && userForm.get('fname').touched">
        Alphabets only
      </div>
    </ion-item>
    <!-- // ERROR -->
    <div class="divider" no-padding></div>
    <ion-item class="input-item-dd input-signup" no-lines>
      <ion-input type="text" value="" placeholder="Last Name" formControlName="lname" [(ngModel)]="userData.lname" [class.error1]="!userForm.controls.lname.valid && userForm.controls.lname.dirty"></ion-input>
    </ion-item>
    <div class="divider" no-padding></div>
    <ion-item class="input-item-dd input-signup" no-lines>
      <ion-input type="email" value="" placeholder="Example@gmail.com*" formControlName="email" id="email" [(ngModel)]="userData.email"
        [class.error1]="!userForm.controls.email.valid && userForm.controls.email.dirty"></ion-input>
    </ion-item>
    <!-- ERROR -->
    <ion-item no-lines *ngIf="( userForm.get('email').hasError('pattern') || userForm.get('email').hasError('required') ) && userForm.get('email').touched">
      <div class="error" *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">
        We're gonna need your email
      </div>
      <div class="error" *ngIf="userForm.get('email').hasError('pattern')  && userForm.get('email').touched">
        Please enter a valid email address
      </div>
    </ion-item>
    <!-- // ERROR -->
    <div class="divider" no-padding></div>
    <ion-item class="input-item-dd input-signup" no-lines>
      <ion-input type="password" value="" placeholder="Password*" formControlName="password" (ngModelChange)="getpassvalue($event)"
        [(ngModel)]="userData.password" [class.error1]="!userForm.controls.password.valid && userForm.controls.password.dirty">
      </ion-input>
    </ion-item>
    <div class="error c-pass-error" *ngIf="passln == true">
      Minimum 6 charector required
    </div>
    <div class="error c-pass-error" *ngIf="passresult == true">
      Please enter Password First
    </div>
    <ion-item no-lines *ngIf="( userForm.get('password').hasError('pattern') || userForm.get('password').hasError('required') ) && userForm.get('password').touched">
      <div class="error" *ngIf="userForm.get('password').hasError('required') && userForm.get('password').touched">
        Please enter your password
      </div>
      <div class="error" *ngIf="userForm.get('password').hasError('pattern')  && userForm.get('password').touched">
        Please enter a valid password
      </div>
    </ion-item>
    <!-- // ERROR -->
    <div class="divider" no-padding></div>
    <ion-item class="input-item-dd input-signup" no-lines>
      <ion-input type="password" value="" placeholder="Confirm Password*" formControlName="C_password" [(ngModel)]="userData.C_password"
        (ngModelChange)="getconfirmpassvalue($event)" [class.error1]="!userForm.controls.C_password.valid && userForm.controls.C_password.dirty"></ion-input>
    </ion-item>
    <!-- ERROR -->
    <div class="error c-pass-error" *ngIf="cresult == false">
      Your confirm password didn't matched
    </div>
    <ion-item no-lines *ngIf="(  userForm.get('C_password').hasError('required') ) && userForm.get('C_password').touched">
      <div class="error" *ngIf="userForm.get('C_password').hasError('required')  && userForm.get('C_password').touched">
        Please enter your confirm password
      </div>
    </ion-item>
    <!-- // ERROR -->
    <div class="divider" no-padding></div>

    <ion-item class="input-item-dd input-signup" no-lines>
      <ion-input type="tel" value="" placeholder="03xx xxxxxxx*" formControlName="phone" [(ngModel)]="userData.phone" [class.error1]="!userForm.controls.phone.valid && userForm.controls.phone.dirty"></ion-input>
    </ion-item>
    <!-- ERROR -->
    <ion-item no-lines *ngIf="( userForm.get('phone').hasError('pattern') || userForm.get('phone').hasError('required') ) && userForm.get('phone').touched">
      <div class="error" *ngIf="userForm.get('phone').hasError('required') && userForm.get('phone').touched">
        Please enter your phone number
      </div>
      <div class="error" *ngIf="userForm.get('phone').hasError('pattern')  && userForm.get('phone').touched">
        Please enter a valid phone number
      </div>
    </ion-item>
    <!-- // ERROR -->
    <div class="divider" no-padding></div>
    <ion-row>
      <ion-item class="input-item-dd input-signup" style="width: 50%;border-right: 4px solid #eee5e0;" no-lines>
        <ion-select [(ngModel)]="gender" formControlName="gender" placeholder="Gender" class="gender">
          <ion-option value="Female">Female</ion-option>
          <ion-option value="Male">Male</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="input-item-dd input-signup" style="width: 50%" no-lines>

        <ion-datetime displayFormat="D MMM YYYY" min="1970" max="2000" placeholder="DOB" formControlName="DOB" [(ngModel)]="myDate">
        </ion-datetime>

      </ion-item>
      <div class="dobIcon"></div>
    </ion-row>
    <div class="custom_signup_footer">
      <div>
        <button ion-button class="input_item-btn login-btn" [disabled]="!userForm.valid" block type="submit" (click)="gotoPhoneVerification()">SUBMIT
          <img src="assets/Dunkin_Donuts_images/general/arrow.png" />
        </button>
      </div>
      <div>
        <button ion-button class="input_item-btn login-btn outline-btn" block type="submit" (click)="pop()">
          <img src="assets/Dunkin_Donuts_images/general/pink-arrow-back.png" /> BACK</button>
      </div>
    </div>
  </form>
</ion-content>