<!--
  Generated template for the StoreInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="bg-popup">
  <div class="blured"> </div>
  <div class="custom-modal">
    <div style="padding: 20px">
      <h2 class="info-tittle">Item Info</h2>
      <div class="weekly-schedual">
        <h3>{{ItemInfo.FullName}}</h3>
        <ion-list *ngFor="let option of optionArray; let i = index">
          <span style="padding-left: 0px">{{option.counter}} &nbsp; {{option.OptionName}}</span>
        </ion-list>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer class="custom-modalfooter">
  <button ion-button class="input_item-btn" block type="submit" (click)="changeLocation()" round>CONTINUE
    <img src="assets/Dunkin_Donuts_images/general/arrow.png" />
  </button>
</ion-footer>