page-store-info {
  .bg-popup {
    background-image: url(../assets/Dunkin_Donuts_images/Home/stor-info-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  .ion-md-checkmark-circle:before,
  .ion-ios-checkmark-circle:before {
    color: #e11382;
  }

  .circle {
    font-size: 24px;
  }

  .custom-modalfooter button {
    width: 90% !important;
  }

  .custom-modal {
    .info-tittle {
      color: color($colors, dd-button-clr, base);
      text-transform: capitalize !important;
    }

    ion-label {
      text-align: left;
      padding-right: 20px;
      font-weight: bold;
      font-size: 14px;
    }

    .curent-schedual {
      text-align: left;
    }

    .weekly-schedual {
      text-align: left;
      font-weight: 500;

      h3 {
        font-weight: bold;
      }
    }

    p {
      color: color($colors, dd_dark, base);
    }

    h3 {
      // margin-bottom: 4px;
      margin: 8px 0px 8px 0;
    }
  }
}
